<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.userservice.mapper.UserMapper">
    <select id="selectDepartment" resultType="com.example.userservice.pojo.User">
        select *
        from department.test where member = #{name};
    </select>
    <select id="selectJob" resultType="com.example.userservice.pojo.User">
        select jobdec
        from department.test where member = #{name};
    </select>
    <select id="selectRole" resultType="String">
        select role
        from department.user where id = #{id};
    </select>
</mapper>